<% separator = @supplier.address.empty? ? '' : ' - ' %>
<% slash = @supplier.state.empty? ? '' : '/' %>
<% dot = [@supplier.address, @supplier.city, @supplier.state].all? { |item| item.empty? } ? '' : '. ' %>
<% cep = @supplier.cep.empty? ? '' : "CEP: #{@supplier.cep}" %>
<% full_address = "#{@supplier.address}#{separator}#{@supplier.city}#{slash}#{@supplier.state}#{dot}#{cep}" %>

<div>
  <h2><%= @supplier.brand_name %></h2>
</div>

<div>
  <dl>
    <dt><strong>Nome fantasia: </strong></dt>
    <dd><%= @supplier.brand_name %></dd>

    <dt><strong>Razão social: </strong></dt>
    <dd><%= @supplier.corporate_name %></dd>

    <dt><strong>CNPJ: </strong></dt>
    <dd><%= @supplier.registration_number %></dd>
  
    <% unless full_address.empty? %>
      <dt><strong>Endereço: </strong></dt>
      <dd><%= full_address %></dd>
    <% end %>

    <dt><strong>E-mail: </strong></dt>
    <dd><%= @supplier.email %></dd>

    <% unless @supplier.phone.empty? %>
      <dt><strong>Telefone: </strong></dt>
      <dd><%= @supplier.phone %></dd> 
    <% end %>
  </dl>
</div>

<div>
  <p><%= link_to 'Editar', edit_supplier_path(@supplier) %></p>
</div>

<div>
  <p><%= link_to 'Voltar', root_path %></p>
</div>