<h2>Novo galpão</h2>

<%= form_with model: @warehouse do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <p><%= "#{@warehouse.errors.full_messages_for(:name)[0]}." %></p>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <p><%= "#{@warehouse.errors.full_messages_for(:description)[0]}." %></p>
  </div>

  <div>
    <%= f.label :code %>
    <%= f.text_field :code %>
    <p><%= "#{@warehouse.errors.full_messages_for(:code)[0]}." %></p>
  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <p><%= "#{@warehouse.errors.full_messages_for(:city)[0]}." %></p>
  </div>

  <div>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <p><%= "#{@warehouse.errors.full_messages_for(:state)[0]}." %></p>
  </div>

  <div>
    <%= f.label :cep %>
    <%= f.text_field :cep %>
    <p><%= "#{@warehouse.errors.full_messages_for(:cep)[0]}." %></p>
  </div>

  <div>
    <%= f.label :area %>
    <%= f.number_field :area %>
    <p><%= "#{@warehouse.errors.full_messages_for(:area)[0]}." %></p>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
