<div>
  <h2>Galpão <%= @warehouse.name %></h2>
  <h3><%= @warehouse.description %></h3>
</div>

<div>
  <dl>
    <dt><strong>Código: </strong></dt>
    <dd><%= @warehouse.code %></dd>

    <dt><strong>Endereço: </strong></dt>
    <dd><%= "#{@warehouse.city}, #{@warehouse.state}. CEP: #{@warehouse.cep}" %></dd>

    <dt><strong>Área: </strong></dt>
    <dd><%= @warehouse.area %> m2</dd> 
  </dl>
</div>

<div>
  <p><%= link_to 'Editar', edit_warehouse_path(@warehouse) %></p>
  <p><%= button_to 'Remover', @warehouse, method: :delete %></p>
</div>
<div>
  <p><%= link_to 'Voltar', root_path %></p>
</div>
